
  <!-- Banner AdsTerra 320x50 (solo en móvil) -->
  <div class=" md:hidden w-full flex justify-center mt-4 mb-6 px-4">
    <div class="max-w-[320px] overflow-hidden">
      <script type="text/javascript">
        atOptions = {
          'key': '6598ba8779e1f3b77fca2c5e8878f3f4',
          'format': 'iframe',
          'height': 50,
          'width': 320,
          'params': {}
        };
      </script>
      <script type="text/javascript" src="//www.highperformanceformat.com/6598ba8779e1f3b77fca2c5e8878f3f4/invoke.js"></script>
    </div>
  </div>
  <div class="hidden w-full md:flex justify-center mt-4 mb-6 px-4">
    <div class="min-w-[320px] overflow-hidden">
      <script type="text/javascript">
    	  atOptions = {
		      'key' : '486c228aa63fec18b91c4fb7874f07d1',
		      'format' : 'iframe',
		      'height' : 90,
		      'width' : 728,
		      'params' : {}
	      };
      </script>
      <script type="text/javascript" src="//www.highperformanceformat.com/486c228aa63fec18b91c4fb7874f07d1/invoke.js"></script> 
    </div>
  </div>
