
<ol class="relative border-s border-gray-700">                  
    <li class="mb-5 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Paso 1</time>
    <h3 class="text-md font-semibold text-white">Pulsa en "Ver anuncio para desbloquear el enlace de descarga"</h3>
    <p class="mb-4 text-sm font-normal text-subtitle">Al pulsar este botón serás redireccionado a un anuncio, solo tienes que volver atrás, al hacerlo aprecerá el botón "DESCARGAR".</p>
    </li><li class="mb-5 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Paso 2</time>
    <h3 class="text-md font-semibold text-white">Pulsa el botón "DESCARGAR"</h3>
    <p class="mb-4 text-sm font-normal text-subtitle">Al pulsar el botón "DESCARGAR" serás redireccionado a nuestro bot de Telegram (primero se abrirá Telegram y la redirección al bot puede tardar de 5 a 10 segundos).</p>
    </li>
    <li class="mb-5 ms-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Paso 3</time>
    <h3 class="text-md font-semibold text-white">Pulsa el botón Start</h3>
    <p class="mb-4 text-sm font-normal text-subtitle">Una vez en el bot, pulsa el botón Start (Inciar) y el bot te enviará la película automáticamente.</p>
    </li>
</ol>


